$color-primary: #0000;
$font-small: 0.5rem;
$font-regular: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-xlarge: 2.5rem;
$background-color: #1d1d1f;

@font-face {
  font-family: 'Rowdies';
  src: url('~/assets/fonts/rowdies/Rowdies-Regular.ttf');
}
@font-face {
  font-family: 'Rowdies';
  src: url('~/assets/fonts/rowdies/Rowdies-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Rowdies';
  src: url('~/assets/fonts/rowdies/Rowdies-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf');
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('~/assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('~/assets/fonts/tt-interphases/TT Interphases Pro Trial Regular.ttf');
}
@font-face {
  font-family: 'TTInterphases';
  src: url('~/assets/fonts/tt-interphases/TT Interphases Pro Trial Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('~/assets/fonts/tt-interphases/TT Interphases Pro Trial Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('~/assets/fonts/tt-interphases/TT Interphases Pro Trial DemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('~/assets/fonts/tt-interphases/TT Interphases Pro Trial Bold.ttf');
  font-weight: bold;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  font-family: 'TTInterphases';
  font-weight: normal;
  background-color: $background-color;
  color: white;
  overflow-x: hidden;
}
h1 {
  /* font-size: 20rem; */
  color: white;
}
.modal {
  position: fixed;
  width: 60vw;
  height: 75vh;
  background: linear-gradient(180deg, #f4f2eb -1.7%, #b8b6b2 99.51%);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  .left {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-image: url('~/assets/LogRegModal/LogRegbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    padding: 2.5em;

    .main-text {
      font-size: 3rem;
      font-family: TTInterphases;
      font-weight: bold;
    }
    .sub-text {
      font-size: 0.9em;
      font-family: TTInterphases;
      width: 80%;
    }
  }
  .right {
    padding: 3em;
    color: black;
    .blob {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    .head {
      font-size: 2.5rem;
      font-family: TTInterphases;
      font-weight: bold;
    }
  }
}

.gradient-bg {
  background: linear-gradient(-7.28deg, #1d1d1f 24.57%, rgba(29, 29, 31, 0.2) 90.45%), url('~/assets/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 130vh;
}
.nav-link {
  font-size: $font-regular;
  font-family: SpaceGrotesk;
  font-weight: bold;
}

.navbar {
  padding: 0.5em 6em;
}
.navbar-brand {
  font-size: $font-large;
  font-family: Rowdies;
  color: white;
}
.log-nav-button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border-radius: 4px;
  background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
  padding: 0;
  border: none;
  img {
    height: 1.5em;
    border-radius: 2px;
    padding: 0;
  }
  span {
    color: #fff;
    font-size: 0.8rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
    margin-right: 0.7rem;
  }
}
.nav-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-search {
  display: flex;
  width: 18.75rem;
  height: 2.125rem;
  padding: 0rem 0.625rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 8px;
  background: #fff;

  color: #31363c;
  font-size: 0.8rem;
  font-family: SpaceGrotesk;
  font-weight: 300;
}
.nav-button {
  background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
  box-shadow: 4px 4px 16px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  font-family: SpaceGrotesk;
  font-weight: bold;
  color: white;
}
.index-land {
  margin-left: 12em;
  min-height: 80vh;
  align-items: center;
  display: grid;
}
.display-text {
  font-size: $font-xlarge;
  font-family: TTInterphases;
  font-weight: bold;
}
.index-search {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: 2.5em;
  width: 30em;
  padding: 1em;
  border: none;
}
.font-default {
  font-size: $font-regular;
  font-family: TTInterphases;
  font-weight: 600;
}

.gradient-wrapper {
  background: linear-gradient(180deg, #1d1d1f 0%, #1d1d1f 0.01%, #000000 82.08%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 2em;
  padding-bottom: 5vh;
}
.gradient-box-type-1 {
  width: 90vw;
  border: 4px solid #26262a;
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(148.59deg, #212124 18.97%, #111112 81.06%);
}
.gradient-box-type-2 {
  width: 90vw;
  border: 4px solid #26262a;
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(148.59deg, #37383b 18.97%, #111112 35.77%);
}
.restaurant-card {
  background: #fff;
  box-shadow: 6px 4px 12px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.modal-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  background: linear-gradient(180deg, #1a2228 0%, #191920 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 19px;

  width: fit-content;
  color: white;

  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 14px;
  letter-spacing: 0.2em;
}
.input-def {
  color: #000000;
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 1;
}

.input-parent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 1px solid #1a2228;
  margin-bottom: 1rem;
  max-width: 25vw;
  border-width: 0 0 1px 0;
}

.flex-row-right {
  display: flex;
  flex-direction: row-reverse;
}
.def-icon {
  min-width: 1em;
  width: 1em;
  max-width: 1em;
  min-height: 1em;
  height: 1em;
  max-height: 1em;
}
.center {
  align-items: center;
  justify-content: center;
}
.def-gap {
  gap: 0.5em;
}

.font-small {
  font-size: $font-regular;
  font-family: TTInterphases;
}

.restaurant-card-image {
  max-width: auto;
  height: 100%;
}
.title {
  font-size: 1.4rem;
  font-family: TTInterphases;
  font-weight: bold;
}
.rcard {
  background-size: cover;
  width: 100%;
  padding: 1.2em;
  gap: 0.2em;

  .name {
    font-size: 1.4rem;
    font-family: TTInterphases;
    font-weight: bold;
    line-height: 0.9;
  }

  .summary {
    font-weight: 400;
    font-size: 0.85em;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.8);
  }

  .description {
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1.2em;
  }

  .image {
    max-width: 30%;
    height: auto;
  }

  .icon-font {
    font-weight: 400;
    font-size: 0.8em;
    line-height: 15px;
    /* identical to box height */
  }

  .stats {
    width: 100%;
    justify-content: end;
  }
}
.profile-edit {
  background: linear-gradient(180deg, rgba(29, 29, 31, 0) 0%, #1d1d1f 100%);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

  .review-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
  }
  .review-settings {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
  }
  .right {
    width: 75vw;
    background: linear-gradient(180deg, rgba(29, 29, 31, 0) 0%, #1d1d1f 100%),
      url('~/assets/profile-edit-display/right-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    padding: 3.5em;
    .setting-span {
      font-family: TTInterphases;
      font-weight: bold;
      font-size: 0.9rem;
    }
    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 1.7em;
    }
    .image-settings {
      padding: 2.8em;
      display: flex;
      flex-direction: column;
      .profile-image {
        max-width: 10em;
        border-radius: 10px;
      }
      .banner-image {
        max-width: 25em;
        border-radius: 10px;
      }
      .banner-image-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        background: linear-gradient(180deg, #1a2228 0%, #191920 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: none;
        padding: 10px 24px;
        letter-spacing: 0.1em;
        color: #e6e6e6;
        font-family: 'SpaceGrotesk';

        font-size: 0.8em;
        font-weight: 500;
        color: #e6e6e6;
        width: fit-content;
        align-self: flex-end;
        margin: -1.8em -1.2em 0 0;
      }
      .profile-image-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        background: linear-gradient(180deg, #1a2228 0%, #191920 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: none;
        padding: 10px 24px;
        letter-spacing: 0.1em;
        color: #e6e6e6;
        font-family: 'SpaceGrotesk';

        font-size: 0.8em;
        font-weight: 500;
        color: #e6e6e6;
        width: fit-content;
        align-self: flex-end;
        margin: -1.8em 17em 0 0;
      }
    }
    .main-settings {
      width: 30vw;
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      .profile-input {
        background: #26262a;
        border-radius: 10px;
        border: none;
        padding: 4px 13px;
        font-size: 0.9rem;
      }
    }
    .setting-item {
      display: flex;
      flex-direction: column;
      gap: 0.3em;
    }
    .setting-pair {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: center;
      .setting-item {
        width: inherit;
      }
    }
    .save-button {
      background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 19px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1em 2em;
      height: fit-content;
      font-family: 'SpaceGrotesk';
      font-weight: 500;
      font-size: 0.7em;
      letter-spacing: 0.1em;

      color: #ffffff;

      border: none;
    }
    .cancel-button {
      background: linear-gradient(180deg, #cccccc 0%, #a3a3a3 100%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 19px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1em 2em;
      height: fit-content;
      font-family: 'SpaceGrotesk';
      font-weight: 500;
      font-size: 0.7em;
      letter-spacing: 0.1em;

      color: #ffffff;

      border: none;
    }
  }
  .left {
    width: 25vw;
    background: linear-gradient(180deg, #26262a 28.44%, #1f1f22 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    .banner {
      background: linear-gradient(180deg, rgba(38, 38, 42, 0) 0%, #26262a 84.17%), url('/profile/banners/1.png');
      width: 100%;
      height: 30vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .profile {
      margin-top: -15vh;
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      .profile-image {
        width: 8em;
        height: 8em;
        border-radius: 8px;
      }
      .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .name {
        font-family: 'SpaceGrotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        line-height: 1.3em;
      }
      .subtext {
        font-family: 'SpaceGrotesk';
        font-style: normal;
        font-weight: 300;
        font-size: 0.9em;
        line-height: 1.2em;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
.redirects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5em;
  gap: 0.7em;
  background: #212124;
  border: 2px solid #2c2c31;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  width: 80%;

  .redirect-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 1em;
  }
  .redirect-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    gap: 0.3em;
    align-items: flex-start;
  }
  .icon {
    width: 1.7em;
    height: 1.7em;
  }
  span {
    font-weight: 500;
    font-size: 0.9em;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #e6e6e6;
  }
}

.establishment-card {
  padding: 1.7rem 1.7rem;
  margin-top: -7rem;
  margin-left: 5rem;
  display: flex;
  width: 50%;
  border-radius: 8px;
  border: 4px solid #26262a;
  background: linear-gradient(180deg, #37383b 0%, #111112 27.06%);
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
}

.restaurant-info {
  font-family: 'TTInterphases';

  .summary {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
  }

  .name {
    font-weight: bold;
    font-size: 2rem;
  }

  .location {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .info {
    font-size: 0.8rem;
  }

  .dot {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }

  .icon {
    width: 18px;
    height: 18px;
    margin-right: 0.4rem;
  }
}

.establishment-content {
  background: linear-gradient(180deg, #1d1d1f 0%, #000 100%);

  .review-box {
    padding: 1.5rem;
    width: 85%;
    background: linear-gradient(180deg, #212124 0%, #111112 100%);
    border-radius: 8px;
    border: 4px solid #26262a;
    box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
    .review-button {
      border: none;

      display: inline-flex;
      padding: 0.625rem 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      margin-left: 1.25rem;

      border-radius: 8px;
      background: linear-gradient(180deg, #1a2228 0%, #191920 100%);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      .review-icon {
        width: 1rem;
        height: 1rem;
      }
      .review-span {
        color: #e6e6e6;
        text-align: right;
        font-size: 0.6875rem;
        font-family: SpaceGrotesk;
        font-weight: bold;
        letter-spacing: 0.06875rem;
      }
    }
  }

  .review {
    flex-basis: 33%;
    border-radius: 6px;
    border: 2px solid #323237;
    background: #2f2f33;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  }
}

.menu-box {
  padding: 1.5rem;
  width: 85%;
  background: linear-gradient(180deg, #212124 0%, #111112 100%);
  border-radius: 8px;
  border: 4px solid #26262a;
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.menu-item-card {
  padding: 1rem 1rem;
  font-family: TTInterphases;
  width: 171px;
  border: 2px solid #2c2c31;
  background: #212124;
  border-radius: 6px;
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);

  img {
    width: 100%;
  }

  .item-name {
    font-weight: 500;
  }

  .item-price {
    font-weight: 900;
  }
}
.socials {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
  position: absolute;
  top: 6em;
  right: 3em;
  img {
    width: 3em;
    height: 3em;
  }
}
.profile-view {
  width: 100vw;
  display: flex;
  flex-direction: column;
  .banner {
    width: 100vw;
    height: 60vh;

    background-repeat: no-repeat;
  }
  .content {
    margin-top: -58vh;
    display: flex;
    flex-direction: row;
  }
  .left {
    display: flex;
    flex-direction: column;
    padding: 6em 2em 6em 6em;
    gap: 1.2em;
  }
  .right {
    display: flex;
    flex-direction: column;
    padding: 11em 6em 6em 0;
    .filter {
      display: inline-flex;
      align-items: center;
      gap: 1.5625rem;
      margin-top: 1.5em;
      span {
        color: #e9edf1;
        font-size: 1.1rem;
        font-family: SpaceGrotesk;
        font-weight: 500;
      }
      .selected {
        background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
    h1 {
      color: #fff;
      font-size: 2rem;
      font-family: TTInterphases;
      font-weight: 700;
      margin: 0;
    }
    .info {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
    }
    .stats {
      display: flex;
      align-items: center;
      gap: 0.3125rem;
      img {
        width: 1.125rem;
        height: 1.125rem;
        flex-shrink: 0;
      }
      span {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.875rem;
        font-family: TTInterphases;
      }
    }
    p {
      margin: 0;
      color: #fff;
      font-size: 0.875rem;
      font-family: TTInterphases;
      width: 58%;
    }
  }
  .profile-image {
    width: 19em;
    height: 19em;
    flex-shrink: 0;
    border-radius: 10px;
  }

  .left-panel {
    display: flex;
    width: 18.75rem;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    border-radius: 6px;
    border: 2px solid #2c2c31;
    background: #212124;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);

    span {
      color: #e6e6e6;
      font-size: 0.75rem;
      font-family: TTInterphases;
      font-weight: 600;
      letter-spacing: 0.015rem;
    }
  }
  .establishments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    width: 100%;
  }
  .pair {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.75rem;

    img {
      width: 1.875rem;
      height: 1.875rem;
      flex-shrink: 0;
    }
    p {
      margin: 0;
      color: #e6e6e6;
      font-size: 0.75rem;
      font-family: TTInterphases;
      font-weight: 500;
      line-height: 100%;
    }
    .stars {
      display: flex;
      align-items: flex-start;
      gap: 0.0625rem;
      margin-left: auto;
    }
    .star {
      width: 0.625rem;
      height: 0.625rem;
    }
  }
  .review-container {
    display: flex;
    width: 60vw;
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
    flex-direction: column;
    gap: 0.75rem;

    border-radius: 8px;
    border: 4px solid #26262a;
    background: #212124;
    box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
  }
  h1 {
    color: #f0f1f1;
    font-size: 1.5rem;
    font-family: TTInterphases;
    font-weight: 700;
  }
  .review-box {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
  }
  .review-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    width: 50%;
  }
}
.full-review {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  gap: 0.9375rem;
}
.reply {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  padding: 1.25rem 1.25rem 0.9375rem 1.25rem;

  border-radius: 6px;
  border: 2px solid var(--panel-panel-border-2, #323237);
  background: var(--panel-panel-base-2, #2f2f33);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);

  .reviewer-pfp {
    width: 3em;
    height: 3em;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border-radius: 100px;
  }
  .cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7vh;
    align-self: stretch;
  }
  .tag {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.625rem;
    font-family: SpaceGrotesk;
    font-weight: 500;
    line-height: 100%;
  }
  .title-span {
    align-self: flex-start;
    justify-self: flex-start;
  }
  .review-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .stars {
    display: flex;
    align-items: flex-start;
    gap: 0.0625rem;
    margin-left: auto;
  }
  .star {
    width: 0.625rem;
    height: 0.625rem;
  }
  span {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.875rem;
    font-family: TTInterphases;
    font-weight: 700;
    line-height: 100%;
  }
  .review-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    margin: 0;
  }
  .body {
    color: #e6e6e6 !important;
    font-size: 0.75rem !important;
    font-family: TTInterphases !important;
    line-height: 113% !important;
    width: 100% !important;
  }
  .review-voting {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: #e6e6e6;
    font-size: 0.75rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
  }
}

.search {
  background-color: #1d1d1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
    margin: 0;
  }
  .results {
    display: flex;
    flex-direction: column;

    width: 40%;
    gap: 1em;
  }
}

.manage-review {
  width: 65vw;
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 0.9rem;

  align-self: stretch;
  padding: 1.25rem 1.25rem 0.9375rem 1.25rem;

  border-radius: 6px;
  border: 2px solid var(--panel-panel-border-2, #323237);
  background: var(--panel-panel-base-2, #2f2f33);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  .review-main {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0.3rem;
    width: inherit;
  }
  .panel-button {
    border: none;
    display: flex;
    width: 2.5em;
    height: 2.5em;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 10px;
    border: 2px solid var(--base-base-main-border, #2c2c31);
    background: var(--base-base-main-base-2, #212124);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 1em;
    height: 1em;
  }
  .review-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .stars {
    display: flex;
    align-items: flex-start;
    gap: 0.0625rem;
    margin-left: auto;
  }
  .star {
    width: 0.625rem;
    height: 0.625rem;
  }
  span {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.875rem;
    font-family: TTInterphases;
    font-weight: 700;
    line-height: 100%;
  }
  .review-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    margin: 0;
  }
  .body {
    color: #e6e6e6 !important;
    font-size: 0.75rem !important;
    font-family: TTInterphases !important;
    line-height: 113% !important;
    width: 100% !important;
  }
}

.review-modal {
  cursor: default;

  color: #f0f1f1;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-main {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    padding: 25px;

    border-radius: 8px;
    border: 4px solid #26262a;
    background: linear-gradient(180deg, #212124 0%, #111112 100%);
    box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);

    gap: 0.2vh;
  }
  .title {
    color: #f0f1f1;
    font-size: 1.5rem;
    font-family: TTInterphases;
    font-weight: 700;
  }
  span {
    color: #fff;
    font-size: 0.875rem;
    font-family: TTInterphases;
    font-weight: 700;
    letter-spacing: 0.0175rem;
  }
  .inner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vh;
    width: 100%;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
  }
  .text-input {
    width: inherit;
    background: #26262a;
    border-radius: 10px;
    border: none;
    padding: 4px 13px;
    font-size: 0.9rem;
  }
  .star {
    width: 1rem;
    height: 1rem;
  }
  textarea {
    min-height: 12em;
  }
  .media-image {
    width: 6.25em;
    height: 6.25em;
    border-radius: 6px;
  }
  .media-button {
    display: inline-flex;
    padding: 1.5vw;
    flex-direction: column;
    align-items: center;

    border-radius: 6px;
    background: #26262a;
    border: 0;
  }
  .media-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .media-span {
    color: #e6e6e6;
    text-align: center;
    font-size: 0.6875rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
  }
  .save-button {
    background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    height: fit-content;
    font-family: 'SpaceGrotesk';
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 0.1em;

    color: #ffffff;

    border: none;
    width: fit-content;
  }
  .cancel-button {
    background: linear-gradient(180deg, #cccccc 0%, #a3a3a3 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    height: fit-content;
    font-family: 'SpaceGrotesk';
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 0.1em;

    color: #ffffff;

    border: none;
    width: fit-content;
  }
  .button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 0.8em;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.profile-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  padding: 1.25rem 1.25rem 0.9375rem 1.25rem;

  border-radius: 6px;
  border: 2px solid var(--panel-panel-border-2, #323237);
  background: var(--panel-panel-base-2, #2f2f33);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  .review-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .stars {
    display: flex;
    align-items: flex-start;
    gap: 0.0625rem;
    margin-left: auto;
  }
  .star {
    width: 0.625rem;
    height: 0.625rem;
  }
  span {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.875rem;
    font-family: TTInterphases;
    font-weight: 700;
    line-height: 100%;
  }
  .review-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    margin: 0;
  }
  .body {
    color: #e6e6e6 !important;
    font-size: 0.75rem !important;
    font-family: TTInterphases !important;
    line-height: 113% !important;
    width: 100% !important;
  }
  .review-voting {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: #e6e6e6;
    font-size: 0.75rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
  }
}
