.about-wrapper {
  padding: 2rem 4rem;
  background: url('/assets/images/extensions-bg.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.about-head {
  leading-trim: both;
  text-edge: cap;
  font-family: TTInterphases;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-body {
  font-family: TTInterphases;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
  flex: 1 0 0;
  align-self: stretch;
}
.about-sub {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: TTInterphases;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-main {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
}
.about-double {
  display: flex;
  align-items: flex-start;
  gap: 0.9375rem;
  flex: 1 0 0;
  align-self: stretch;
}
.about-link {
  color: white;
  text-decoration: underline;
}
.about-link:hover {
  color: grey;
}
