@import 'variables';

.establishment-card {
  margin-top: -30vh;
  margin-left: 7vw;

  display: flex;
  width: 65rem;
  padding: 1.5625rem 1.875rem;
  align-items: center;
  gap: 1.875rem;

  border-radius: 0.5rem;
  border: 4px solid #26262a;
  background: linear-gradient(180deg, #2a2a2d 0%, #212124 100%);
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);

  max-width: 65vw;

  .establishment-picture {
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.375rem;
  }
  .restaurant-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;

    font-family: 'TTInterphases';
    .tags {
      display: flex;
      display: flex;
      align-items: center;
      gap: 0.3125rem;
    }
    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.3125rem;
      align-self: stretch;
      border-radius: 100rem;
    }
    .info-icon {
      width: 0.75rem;
      height: 0.75rem;
    }
    .info-text {
      color: #fff;
      font-family: TTInterphases;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }
    .info-pill {
      display: flex;
      padding: 0.25rem 0.6rem;
      justify-content: center;
      align-items: center;
      gap: 0.1875rem;

      border-radius: 625rem;
      background: #1d1d1f;

      color: #fff;
      font-family: TTInterphases;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }
    .name {
      color: #fff;
      font-family: TTInterphases;
      font-size: 1.7rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .location {
      font-size: 0.8rem;
    }

    .description {
      font-size: 0.9rem;
    }

    .info {
      font-size: 0.8rem;
    }

    .dot {
      margin-right: 0.2rem;
      margin-left: 0.2rem;
    }

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 0.4rem;
    }
  }
}

.establishment-content {
  background: linear-gradient(180deg, #1d1d1f 0%, #000 100%);

  .menu-box {
    padding: 1.5rem;
    width: 85%;
    background: linear-gradient(180deg, #212124 0%, #111112 100%);
    border-radius: 8px;
    border: 4px solid #26262a;
    box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
  }

  .review-box {
    padding: 1.5rem;
    width: 85%;
    border-radius: 0.5rem;
    border: 4px solid #26262a;
    background: linear-gradient(180deg, #151518 0%, #111112 100%);
    box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
    .reviews-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      gap: 1.25rem;

      .review-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        flex: 1 0 0;
      }
    }
    .review-button {
      border: none;

      display: inline-flex;
      padding: 0.625rem 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      margin-left: 1.25rem;

      border-radius: 8px;
      background: linear-gradient(180deg, #1a2228 0%, #191920 100%);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      .review-icon {
        width: 1rem;
        height: 1rem;
      }
      .review-span {
        color: #e6e6e6;
        text-align: right;
        font-size: 0.6875rem;
        font-family: SpaceGrotesk;
        font-weight: bold;
        letter-spacing: 0.06875rem;
      }
    }
  }

  .review {
    flex-basis: 33%;
    border-radius: 6px;
    border: 2px solid #323237;
    background: #2f2f33;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  }
}

.menu-item-card {
  padding: 1rem 1rem;
  font-family: TTInterphases;
  width: 171px;
  border: 2px solid #2c2c31;
  background: #212124;
  border-radius: 6px;
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);

  img {
    width: 100%;
  }

  .item-name {
    font-weight: 500;
  }

  .item-price {
    font-weight: 900;
  }
}
.review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  padding: 1.25rem 1.25rem 0.75rem 1.25rem;

  border-radius: 6px;
  border: 2px solid var(--panel-panel-border-2, #323237);
  background: var(--panel-panel-base-2, #2f2f33);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);

  .reviewer-pfp {
    width: 2.25em;
    height: 2.25em;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border-radius: 100px;
  }
  .cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7vh;
    align-self: stretch;
  }
  .tag {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.625rem;
    font-family: SpaceGrotesk;
    font-weight: 500;
    line-height: 100%;
  }
  .title-span {
    align-self: flex-start;
    justify-self: flex-start;
    color: #e6e6e6;
    font-family: TTInterphases;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .review-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    .review-elements {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.25rem;
      align-self: stretch;
    }
    .vote-pill {
      display: flex;
      width: 2.125rem;
      height: 2.125rem;
      padding: 0.625rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 1.875rem;
      border: 2px solid var(--base-base-main-border, #2c2c31);
      background: var(--base-base-main-base-2, #212124);
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
      .review-icon {
        width: 0.875rem;
        height: 0.875rem;
        flex-shrink: 0;
      }
    }
    .vote-count {
      color: #c7c7d9;
      font-family: SpaceGrotesk;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: 113%;
    }
    .review-pill {
      display: flex;
      padding: 0.4rem 0.6rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border-radius: 0.625rem;
      border: 2px solid var(--base-base-main-border, #2c2c31);
      background: var(--base-base-main-base-2, #212124);
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);

      .owner-image {
        width: 0.875rem;
        height: 0.875rem;
        flex-shrink: 0;
        border-radius: 100rem;
      }
      .review-icon {
        width: 1rem;
        height: 1rem;
      }
      .review-pill-span {
        color: #c7c7d9;
        font-family: SpaceGrotesk;
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 800;
        line-height: 113%;
      }
    }
  }
  .stars {
    display: flex;
    align-items: flex-start;
    gap: 0.0625rem;
    margin-left: auto;
  }
  .star {
    width: 0.625rem;
    height: 0.625rem;
  }
  span {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.875rem;
    font-family: TTInterphases;
    font-weight: 700;
    line-height: 100%;
  }
  .review-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    margin: 0;
  }
  .body {
    color: #e6e6e6 !important;
    font-size: 0.75rem !important;
    font-family: TTInterphases !important;
    line-height: 125% !important;
    width: 100% !important;
  }
  .review-voting {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: #e6e6e6;
    font-size: 0.75rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
  }
}
