@import 'variables';

.gradient-bg {
  background: linear-gradient(-7.28deg, #1d1d1f 24.57%, rgba(29, 29, 31, 0.2) 90.45%),
    url('~/assets/images/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 130vh;
}

.index-land {
  margin-left: 12em;
  min-height: 80vh;
  align-items: center;
  display: grid;
}

.index-search {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: 2.5em;
  width: 30em;
  padding: 1em;
  border: none;
}
.gradient-wrapper {
  background: linear-gradient(180deg, #1d1d1f 0%, #1d1d1f 0.01%, #000000 82.08%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 2em;
  padding-bottom: 5vh;
}

.display-text {
  font-size: $font-xlarge;
  font-family: TTInterphases;
  font-weight: bold;
}

.gradient-box-type-1 {
  width: 90vw;
  border: 4px solid #26262a;
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #212124 0%, #111112 100%);
}
.gradient-box-type-2 {
  width: 90vw;
  border: 4px solid #26262a;
  box-shadow: 2px 4px 16px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #212124 0%, #111112 100%);
}
