@import 'variables';
.dropdown {
  display: flex;
  width: 18.75rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;

  border-radius: 0.375rem;
  border: 2px solid #2c2c31;
  background: #212124;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);

  color: #e6e6e6;
  font-family: TTInterphases;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  position: absolute;
  right: 7vw;
  top: 8vh;
  min-width: 18.75rem;

  .dropdown-head {
    display: flex;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: #232327;
    box-shadow: 3px 4px 18px 0px rgba(0, 0, 0, 0.2);

    .head-pfp {
      width: 2.1875rem;
      height: 2.1875rem;
      border-radius: 25rem;
    }
    .head-span {
      color: #fff;
      font-family: TTInterphases;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .dropdown-items-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;

    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      align-self: stretch;
      .text {
        display: flex;
        height: 0.875rem;
        flex-direction: column;
        flex: 1 0 0;
        color: #e6e6e6;
        font-family: TTInterphases;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
      }
    }
  }
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.1875rem;
  flex: 1 0 0;

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;

    .nav-link {
      font-size: 1rem;
      font-family: SpaceGrotesk;
      font-weight: bold;
    }
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
  }
}
.navbar {
  padding: 0.5em 6em;
}
.navbar-brand {
  font-size: 2rem;
  font-family: TTInterphases;
  font-weight: 900;
  color: white;
}
.log-nav-button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border-radius: 4px;
  background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
  padding: 0;
  border: none;
  img {
    height: 1.5em;
    border-radius: 2px;
    padding: 0;
  }
  span {
    color: #fff;
    font-size: 0.8rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
    margin-right: 0.7rem;
  }
}
.nav-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-search {
  display: flex;
  width: 18.75rem;
  height: 2.125rem;
  padding: 0rem 0.625rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 8px;
  background: #fff;

  color: #31363c;
  font-size: 0.8rem;
  font-family: SpaceGrotesk;
  font-weight: 300;
}
.nav-button {
  cursor: pointer;
  background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
  box-shadow: 4px 4px 16px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  font-family: SpaceGrotesk;
  font-weight: bold;
  color: white;
}
.dropdown-container {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  color: #fff;
  font-family: TTInterphases;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  .pfp {
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 25rem;
  }
  .drop-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
