.title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.search {
  background-color: #1d1d1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
    margin: 0;
  }
  .results {
    display: flex;
    flex-direction: column;

    width: 40%;
    gap: 1em;
  }
}

.manage-review {
  width: 65vw;
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 0.9rem;

  align-self: stretch;
  padding: 1.25rem 1.25rem 0.9375rem 1.25rem;

  border-radius: 6px;
  border: 2px solid var(--panel-panel-border-2, #323237);
  background: var(--panel-panel-base-2, #2f2f33);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  .review-main {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0.3rem;
    width: inherit;
  }
  .panel-button {
    border: none;
    display: flex;
    width: 2.5em;
    height: 2.5em;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 10px;
    border: 2px solid var(--base-base-main-border, #2c2c31);
    background: var(--base-base-main-base-2, #212124);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 1em;
    height: 1em;
  }
  .review-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .stars {
    display: flex;
    align-items: flex-start;
    gap: 0.0625rem;
    margin-left: auto;
  }
  .star {
    width: 0.625rem;
    height: 0.625rem;
  }
  span {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.875rem;
    font-family: TTInterphases;
    font-weight: 700;
    line-height: 100%;
  }
  .review-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    margin: 0;
  }
  .body {
    color: #e6e6e6 !important;
    font-size: 0.75rem !important;
    font-family: TTInterphases !important;
    line-height: 113% !important;
    width: 100% !important;
  }
}

.profile-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  padding: 1.25rem 1.25rem 0.9375rem 1.25rem;

  border-radius: 6px;
  border: 2px solid var(--panel-panel-border-2, #323237);
  background: var(--panel-panel-base-2, #2f2f33);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  .review-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .stars {
    display: flex;
    align-items: flex-start;
    gap: 0.0625rem;
    margin-left: auto;
  }
  .star {
    width: 0.625rem;
    height: 0.625rem;
  }
  span {
    color: var(--text-text-h-1-text, #e6e6e6);
    font-size: 0.875rem;
    font-family: TTInterphases;
    font-weight: 700;
    line-height: 100%;
  }
  .review-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    margin: 0;
  }
  .body {
    color: #e6e6e6 !important;
    font-size: 0.75rem !important;
    font-family: TTInterphases !important;
    line-height: 113% !important;
    width: 100% !important;
  }
  .review-voting {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: #e6e6e6;
    font-size: 0.75rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
  }
}
