@import 'variables';
.search-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.search-left {
  background: linear-gradient(180deg, #26262a 28.44%, #1d1d1f 100%);
  min-height: 100vh;
  min-width: 30vw;
  padding: 2.5rem;

  color: #fff;
  font-family: TTInterphases;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-right {
  background-color: #1d1d1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem 0rem 1.5rem;
  h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: SpaceGrotesk;
    font-weight: 700;
    margin: 0;
  }
  .results-row {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}
