$color-primary: #0000;
$font-small: 0.5rem;
$font-regular: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-xlarge: 2.5rem;
$background-color: #1d1d1f;

@font-face {
  font-family: 'Rowdies';
  src: url('/assets/fonts/rowdies/Rowdies-Regular.ttf');
}
@font-face {
  font-family: 'Rowdies';
  src: url('/assets/fonts/rowdies/Rowdies-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Rowdies';
  src: url('/assets/fonts/rowdies/Rowdies-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf');
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('/assets/fonts/tt-interphases/TTInterphases-Regular.ttf');
}
@font-face {
  font-family: 'TTInterphases';
  src: url('/assets/fonts/tt-interphases/TTInterphases-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('/assets/fonts/tt-interphases/TTInterphases-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('/assets/fonts/tt-interphases/TTInterphases-DemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('/assets/fonts/tt-interphases/TTInterphases-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('/assets/fonts/tt-interphases/TTInterphases-Black.ttf');
  font-weight: 900;
}
