// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

$color-primary: #0000;
$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 2rem;
$font-xlarge: 4rem;
$background-color: #1d1d1f;

@font-face {
  font-family: 'Rowdies';
  src: url('./fonts/rowdies/Rowdies-Regular.ttf');
}
@font-face {
  font-family: 'Rowdies';
  src: url('./fonts/rowdies/Rowdies-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Rowdies';
  src: url('./fonts/rowdies/Rowdies-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./fonts/space-grotesk/SpaceGrotesk-Regular.ttf');
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./fonts/space-grotesk/SpaceGrotesk-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./fonts/space-grotesk/SpaceGrotesk-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./fonts/space-grotesk/SpaceGrotesk-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('./fonts/tt-interphases/TT Interphases Pro Trial Regular.ttf');
}
@font-face {
  font-family: 'TTInterphases';
  src: url('./fonts/tt-interphases/TT Interphases Pro Trial Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('./fonts/tt-interphases/TT Interphases Pro Trial Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('./fonts/tt-interphases/TT Interphases Pro Trial DemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'TTInterphases';
  src: url('./fonts/tt-interphases/TT Interphases Pro Trial Bold.ttf');
  font-weight: bold;
}

#app {
  font-weight: normal;
  background-color: $background-color;
}

.nav-link {
  font-size: $font-medium;
  font-family: SpaceGrotesk;
  font-weight: bold;
  color: white;
}
.navbar {
  padding: 0.5rem 6rem;
  background-color: $background-color !important;
}
.navbar-brand {
  color: white;
  font-size: $font-large;
  font-family: Rowdies;
}
.nav-button {
  background: linear-gradient(180deg, #5ddb8f 0%, #35c56f 100%);
  box-shadow: 4px 4px 16px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 0.2rem 1rem;
  color: white;
  font-size: 0.8rem;
  font-family: SpaceGrotesk;
  font-weight: bold;
}
